.titulo{
	font-weight: bold;
	text-shadow: 0 0 25px white, 0 0 25px black ;
	background-color: rgb(255,255,255, 0.15);
}
.titulo p{
	margin-left: 10%;
}

.listap{
	width: 80%;
	font-family: "Verdana", verdana, serif;
	font-size: 200%;
	margin-left: 10%;

}
.titulov{
	background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0,0,0,0.5));
	font-weight: bold;
	text-shadow: 0 0 25px white, 0 0 25px black ;
}

.contenidov{
	background: linear-gradient(to top, rgba(255,255,255,0.2), rgba(0,0,0,0.5));
	text-align: center;
	text-shadow: 0 0 25px black, 0 0 10px blue ;
	
}
.contenidov a:link, a:visited, a:active{
	color: white;
}
.detalles{
	color: #2F08C1;
}
.agregar{
	background-color: blue !important;
	margin-bottom: 0.5%;
}

.agregar:hover{	
	background-color: rgb(0,0,200,1) !important;
}

img{
	width: 100px;
}

