{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	{% block estilosp %}

	{% endblock %}
	<meta charset="utf-8">
	
	<title>
		{% block titulo %}

		{% endblock %}
	</title>
</head>
<body id="fondo" >
	<div >
	</div>
	<div id="cuerpo" class="row pad_15">
	<header class="center">
			{% block titulop %}

			{% endblock %}
	</header>

	<nav class="nav-extended" id="trasparente">
	    <div class="nav-wrapper" id="navegs">
	      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

	      <ul id="nav-mobile" class="left hide-on-med-and-down">
	        	<li><a href="{% url 'index' %}">Página Principal</a></li>
	            <li><a href="{% url 'videojuego' %}">Videojuegos</a></li>
	            <li><a href="{% url 'genero' %}">Género</a></li>
	            <li><a href="{% url 'desarrollador' %}">Desarrollador</a></li>
	            <li><a href="{% url 'distribuidor' %}">Distribuidor</a></li>
	            <li><a href="{% url 'plataforma' %}">Plataforma</a></li>
	            
	      </ul>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	      		{% if user.is_active %}
	      		<li><div id="hola">Hola {{ user.username }}</div></li>
	            <li><a href="{% url 'logout' %}" class="waves-effect waves-teal btn sesiones">Logout</a></li>
	            {% else %}
	            <li><a href="{% url 'login' %}" class="waves-effect waves-teal btn sesiones">Login</a></li>
	            <li><a href="{% url 'registrar' %}" class="waves-effect waves-teal btn sesiones">Registrar</a></li>
	            {% endif %}
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
	        <li><a href="{% url 'index' %}">Página Principal</a></li>
	         <li><a href="{% url 'videojuego' %}">Videojuegos</a></li>
	         <li><a href="{% url 'genero' %}">Género</a></li>
	         <li><a href="{% url 'desarrollador' %}">Desarrollador</a></li>
	         <li><a href="{% url 'distribuidor' %}">Distribuidor</a></li>
	         <li><a href="{% url 'plataforma' %}">Plataforma</a></li>
	         {% if user.is_active %}
	            <li><a href="{% url 'logout' %}" class="waves-effect waves-teal btn sesiones">Logout</a></li>
	            {% else %}
	            <li><a href="{% url 'login' %}" class="waves-effect waves-teal btn sesiones">Login</a></li>
	            <li><a href="{% url 'registrar' %}" class="waves-effect waves-teal btn sesiones">Registrar</a></li>
	            {% endif %}
	      </ul>
	    </div>
	</nav>
	<script type="text/javascript">
	    $(".button-collapse").sideNav();
	</script>
		{% block contenido %}
		
		{% endblock%}
	</div>
	<script type="text/javascript">
		window.onload = function() {
			setInterval(cambiarFondo, 20000);// 5 segundos
			}
			fondoActual = 0;
			imagenes = ["{%static 'fondos/halo.jpg' %}", "{%static 'fondos/control_nes.jpg' %}", "{%static 'fondos/fondo_mario_12.png' %}", "{%static 'fondos/forza_motorsport_6.jpg' %}", "{%static 'fondos/grand_theft_auto_v.jpg' %}","{%static 'fondos/master_chief.jpg' %}","{%static 'fondos/mortal_combat.jpg' %}","{%static 'fondos/sub_zero.jpg' %}","{%static 'fondos/the_witcher.jpg' %}","{%static 'fondos/tomb_raider.jpg' %}"];
			function cambiarFondo() {
			document.body.style.backgroundImage = "url(" + imagenes[++fondoActual % imagenes.length] + ")";
			}


	</script>
</body>

</html>	