{% extends 'detalle.html' %}
{% load staticfiles %}

{% block titulo %}
	{{ datos.nombre }}

{% endblock %}
{% block titulop %}
	{{ datos.nombre }}
{% endblock %}
{% block contenido %}
	<img src="/media/{{ datos.portada }}"/>
	<div id="contenido">
		<p><label class="etiquetad"> Género: </label>{{ datos.genero }}</p>
		<p><label class="etiquetad"> Sub géneros: </label>{{ datos.sub_genero }}</p>
		<p><label class="etiquetad"> Online: </label>{{ datos.online }}</p>
		<p><label class="etiquetad"> Campaña: </label>{{ datos.campana }}</p>
		<p><label class="etiquetad"> Fecha de Salida: </label>{{ datos.fecha_de_salida }}</p>
		<p><label class="etiquetad"> Plataformas: </label>
		{% for pla in datos.plataforma.all %}
			{{ pla.nombre }}
		{% endfor %}
		</p>
		<p><label class="etiquetad"> Desarrollador: </label>{{ datos.desarrollador }}</p>
		<p><label class="etiquetad"> Distribuidor: </label>{{ datos.distribuidor }}</p>
	</div>

	<a href="{% url 'modificar_videojuego' id_v=datos.id %}" id="modificar" class="btn waves-effect waves-light">Modificar</a>
	<a href="{% url 'eliminar_videojuego' id_v=datos.id %}" id="eliminar" class="btn waves-effect waves-light">Eliminar</a>
	<a href="{% url 'videojuego' %}" id="regresar" class="btn waves-effect waves-light">Regresar</a>
{% endblock %}