{% extends 'detalle.html' %}
{% load staticfiles %}

{% block titulo %}
	{{ datos.nombre }}

{% endblock %}
{% block titulop %}
	{{ datos.nombre }}
{% endblock %}
{% block contenido %}
	<img src="/media/{{ datos.logo }}"/>

	<a href="{% url 'modificar_desarrollador' id_des=datos.id %}" id="modificar" class="btn waves-effect waves-light">Modificar</a>
	<a href="{% url 'eliminar_desarrollador' id_des=datos.id %}" id="eliminar" class="btn waves-effect waves-light">Eliminar</a>
	<a href="{% url 'desarrollador' %}" id="regresar" class="btn waves-effect waves-light">Regresar</a>
{% endblock %}