{% extends 'detalle.html' %}
{% load staticfiles %}

{% block titulo %}
	{{ datos.nombre }}

{% endblock %}
{% block titulop %}
	{{ datos.nombre }}
{% endblock %}
{% block contenido %}
	<div id="contenido">
		<p><label class="etiquetad"> Empresa: </label>{{ datos.empresa }}</p>
	</div>
	<a href="{% url 'modificar_plataforma' id_pla=datos.id %}" id="modificar" class="btn waves-effect waves-light">Modificar</a>
	<a href="{% url 'eliminar_plataforma' id_pla=datos.id %}" id="eliminar" class="btn waves-effect waves-light">Eliminar</a>
	<a href="{% url 'plataforma' %}" id="regresar" class="btn waves-effect waves-light">Regresar</a>
{% endblock %}